$source : "../fonts/ProximaNova/";
$source2 : "../fonts/Didot/";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@include font-face(didot, $source2, null, null, woff woff2);
@include font-face(proximanova-black-webfont, $source, 900, bolder, woff2 woff);
@include font-face(proximanova-bold-webfont, $source, 800, bold, woff2 woff);
@include font-face(proximanova-light-webfont, $source, 200, lighter, woff2 woff);
@include font-face(proximanova-semibold-webfont, $source, 600, normal, woff2 woff);
@include font-face(proximanova-regular-webfont, $source, 400, light, woff2 woff);

$OpenSans : "Open Sans";
$Didot : "Didot";
$ProximaBlack : "proximanova-black-webfont";
$ProximaBold : "proximanova-bold-webfont";
$ProximaSemi : "proximanova-semibold-webfont";
$ProximaRegu : "proximanova-regular-webfont";
$ProximaLight : "proximanova-light-webfont";
