.years{
  width: 1000px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  margin: 100px auto auto auto;
  background-color: #111;

  .year{
    position: relative;
    width: 150px;
    height: 70px;
    margin: 5px;


    transform-style: preserve-3d;
    background-color: #0A0A0A;
    box-shadow: inset 0px 1px 1px 0px rgba(255,255,255,0.1);
    transform: translate3d(0, 0, 0);
    transition: background-color .3s, transform .1s;

    color: white;
    backface-visibility: hidden;
    &:hover{
      background-color: #d1be12;
    }
    p{
      position: absolute;
      left: 50%;
      top: 50%;

      font-size: 30px;

      transform-style: preserve-3d;
      transform: translate(-50%, -50%);
    }
  }
}
